{
	"root": true,

	"extends": "@ljharb/eslint-config/node/6",

	"overrides": [
		{
			"files": "test/**/*.js",
			"env": {
				"mocha": true,
			},
			"rules": {
				"max-lines-per-function": "warn",
				"max-nested-callbacks": "warn",
			},
		},
	],
}
